h4{
    color: #808080;

}

.supplies{
    border: solid 1px var(--borderGrey);
    border-radius: 10px;
    width: 92%;
    margin-inline: 0px;
    padding-inline: 20px;
}

.supplyInfo{
    display: flex;
    justify-content: space-between;
}