main {
	margin: 20px;
	margin-left: calc(var(--sidebarWidth) + 30px);
	padding: 20px 40px;
	border: solid 1px var(--borderGrey);
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
    align-items: space-between;
	flex-flow: row wrap;
	background-color: white;
}

.tasks {
	grid-row-start: 1;
	grid-row-end: 2;
}

@media (max-width: 400px) {
	aside {
		display: none;
	}
	main {
		margin-left: 20px;
        padding-inline: 15px;
	}
}
