aside {
	border-right: solid 1px var(--borderGrey);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: var(--sidebarWidth);
	position: fixed;
	z-index: 1;
	top: (var(--navbarHeight) + 1);
	left: 0px;
	height: calc(100vh - var(--navbarHeight)) ;
	background-color: white;

}

aside h3 {
	font-weight: 500;
}

.links{
	padding: 0px 15px 15px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.bottom-links{
	border-top: 1px var(--borderGrey) solid;
}

.link{
	padding-left: 15px;
	box-sizing: content-box;
	display: flex;
	align-items: center;
	margin-block: 10px;
	cursor: pointer;
	border-radius: 10px;
	p{
		font-size: 1.3rem;
		font-weight: 600;
		margin-left: 10px;
		margin-block: 5px;
	}
}