@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root{
  --grey: #F8F8F8;
  --borderGrey: #F0F0F0;
  --blue: #168BD9;
  --lightblue: #E6FAFF;
  --navbarHeight: 70px;
  --sidebarWidth: 275px
}


*{
  font-family: "DM Sans";
}

body{
  background-color: var(--grey);
}